.lvl-one__container {
    padding: 5px;
    border: 1px dashed azure;

    .lvl-one__content > * {
        margin: 5px;
    }
}

.canvas-wrapper {
    border: 1px solid red;
    margin: 1em;
    height: 200px;
}